@model TheBestPainters.Models.CustomerModels.CustomerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
    <hr />
    @foreach (var item in Model.Jobs)
    {
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(modelItem => item.JobId)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.JobId)
            </dd>
            <dt>
                @Html.DisplayNameFor(modelItem => item.JobLocation)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.JobLocation)
            </dd>
        </dl>
        <p>
            @Html.ActionLink("View Job Details", "Details", "Job", new {id = item.JobId }, null)
        </p>
    }
</div>
<hr/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
