@model TheBestPainters.Models.MaterialModels.MaterialDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaterialDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
